$red: #ff5c57;
$pink: #ff6ac1;
$green: #5af78e;
$green_vue: #42b983;
$yellow: #f3f99d;
$blue: #57c7ff;
$gray: #f1f1f0;
$blue_gray: #9aedfe;
$black: #282a36;
$bg_body: #f1f3f5;
$white: #fff;
$gray: #ccc;
