$shadow_bg: 0 6px 8px rgba(102, 119, 136, .03),
0 1px 2px rgba(102, 119, 136, .3),
0 1px 6px rgba(32, 33, 36, .28);
$shadow_btn: 0 2px 2px 0 rgba(0, 0, 0, .16),
0 0 0 1px rgba(0, 0, 0, .08);
$shadow_btn_hover: 0 3px 8px 0rgba(0, 0, 0, .2),
0 0 0 1px rgba(0, 0, 0, .08);
$shadow_list: 0 6px 12px rgba(0, 0, 0, .175);
